
ejemplo curso flutter/meals/ios/Runner/GeneratedPluginRegistrant.m
ejemplo curso flutter/meals/ios/Runner/GeneratedPluginRegistrant.h
ejemplo curso flutter/meals/ios/Flutter/Generated.xcconfig
ejemplo curso flutter/meals/ios/Flutter/flutter_export_environment.sh
ejemplo curso flutter/meals/android/local.properties
ejemplo curso flutter/meals/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ejemplo curso flutter/meals/.packages
ejemplo curso flutter/meals/.dart_tool/version
ejemplo curso flutter/meals/.dart_tool/package_config_subset
ejemplo curso flutter/meals/.dart_tool/package_config.json
