<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulari de Registre</title>
    <script src="../public/scripts.js"></script>
</head>
<body>

<h1>INTRODUCE TU CONTRASEÑA:</h1>
<div id="main_container">
    <form id="passform" method="get">
        <div id="regPass">
            <label for="RPassword">Contraseña:</label>
            <br>
            <input type="password" id="RPassword" name="RPassword" required="" pattern="[a-z0-9A-Z]+" title="Introdueiu un codi alfanumèric">
        </div>
        <div id="regPass">
            <br>
            <label for="CPassword">Repite la contraseña:</label>
            <br>
            <input type="password" id="CPassword" name="CPassword" required="" pattern="[a-z0-9A-Z]+" title="Introdueiu un codi alfanumèric">
            
            <p id="warning"></p>
            
        </div>
        <input id="sub" type="button" value="Enviar">
    </form>

</div>
</body>
</html>