<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulari de Registre</title>
    <link rel="stylesheet" type="text/css" href="css/reg.css">
</head>
<body>

<h1>    iNTRODUCE TU CONTRASEÑA:</h1>
<div id="main_container">
    <form action="http://localhost:55005/api/v1/accSettings/restorePasswordReception/" method="post">
    <label for="team_name">Enter name: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">
    <input type="submit" value="OK">
</form>
    
    

</div>

</body>
</html>